{% extends 'base.html.twig' %}

{% block title %}Nouvel accessoire - PixHell{% endblock %}

{% block body %}
<h1>Ajouter un accessoire</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.compatibility) }}
    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}

