{% extends 'base.html.twig' %}

{% block title %}Modifier {{ game.title }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="h2 mb-0">Modifier {{ game.title }}</h1>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center mt-3">
                    <button class="btn btn-primary">
                        <i class="fas fa-save"></i> Enregistrer
                    </button>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Annuler
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
